.gheThuong {
    background-color: grey;
    cursor: pointer;
}

.gheVip {
    background-color: burlywood;
    cursor: pointer;
}

.gheDaDat {
    background-color: crimson !important;
    cursor: no-drop;
}

.gheMinhDaDat {
    background-color: gold !important;
}